<div >
	  	<img class="slide-image" src="banner.jpg" alt="">	
	  	<div class ="text">
			<h1>Historia de la Tuna</h1>
			<p>
			Vas caminando por la calle y de pronto evocan del pasado un alegre grupo de jovenes riendo y cantando vistiendo a la usanza del estudiante antiguo medieval y de pronto  escuchas decir "Somos una Tuna". Pero... ¿Que es la Tuna?
			</p>
			<p>
			La sociedad universitaria a lo largo de los siglos a evolucionado de una forma considerable junto con el resto de la sociedad, mas en la universidad, el pasar del tiempo no ha logrado acabar con necesidades tan antiguas como la de agruparse en torno a objetivos culturales, académicos y/o deportivos. La Tuna responde a la necesidad de los estudiantes de extender lo que se aprende en el aula de clases en la sociedad mediante la música y presentarse como una ayuda económica para la siempre complicada situación universitaria.
			</p>
			Los orígenes de la Tuna se remontan a la Edad Media y a la formación de los primeros centros de educación superior. Sus predecesores directos fueron los goliardos, escolares peregrinos, alegres e ingeniosos que viajaban con su pobreza por diversos países demandando un vaso de vino, pecunia (dinero) o la sopa de un convento. 
			</p>
			<p> Con el nacimiento de las universidades europeas el espíritu goliárdico fue heredado por los nuevos escolares de Universidad, los cuales frecuentemente se desplazaban de una sede universitaria a otra interpretando canciones alegres y báquicas al son de vihuelas y mandolinas, bien fuera por la introducción cultural en dichas universidades o bien por el simple placer de la vida andariegas y bohemia.
			</p>
		</div>
		<div class ="footer" > {{footer}}</div>
	</div>