	<div>
	<img class="slide-image" src="banner.jpg" alt=""> 
		<div class ="text"> 
			<h1>Nuestra Tuna</h1>

			La Tuna de la Universidad de Concepción  nació el 16 de Septiembre del año 1992, y está compuesta por estudiantes de distintas carreras de nuestra Casa de Estudios.       </p><p>                                
			Ha participado en numerosos encuentros y festivales nacionales (La Serena, San Bernardo, Copiapó, Temuco, Los Ángeles, Valdivia) e internacionales (Lima, en tres ocasiones), y ha recorrido casi todo nuestro país, dando a conocer nuestro mester y dejando muy en alto el nombre de nuestra Alma Mater.
			</p>
			<p>                                       
			También ha realizado viajes al extranjero: Perú (Lima, Arequipa), Argentina (Mendoza, Buenos Aires) y Uruguay (Montevideo, Punta del Este). Por supuesto, pensamos llegar cada vez más lejos, pues junto con perdurar en el tiempo una de las motivaciones principales de la Tuna es conocer el mundo sustentándose a base de ingenio y picardia.              

			</p>
			<p>
			Hoy la constituyen 7 integrantes (4 tunos y 3 "pardillos" o aprendices) que representan amplias áreas académicas, tanto humanistas como científicas. La diversidad de carreras, lejos de ser una desventaja, representa una mayor oportunidad de enriquecimiento como grupo. Además existe un contingente pasivo dado que nuestra Tuna consta ya de  tres generaciones de integrantes egresados. 
		</div>
		<div class ="footer" > {{footer}}</div>
	</div>